.DS_Store
GroupTFtoOcean/.DS_Store
GroupTFtoOcean/data_analysis/.DS_Store
sampleNotebooks/.ipynb_checkpoints/
GroupBMBtodSLR/data_analysis/.ipynb_checkpoints
GroupTFtoOcean/data_analysis/.ipynb_checkpoints/
QC/.ipynb_checkpoints/
data_plotting/.ipynb_checkpoints/
GroupBMBtodSLR/data_analysis/old
